<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.game.jhtc.repository.UserDao" >
  
  <!-- 查询全部的用户 ，查询接口没有用到-->
  <select id="findAll" resultType="com.game.jhtc.entity.User">
    select * from suser_info where 1=1 order by score desc
  </select>
  
  <!-- 根据gid查询玩家信息 -->
  <select id="findByGid"
  	parameterType="java.lang.Integer"
  	resultType="com.game.jhtc.entity.User">
  		select gid, nick, score, length from suser_info 
  			where gid=#{gid}
  </select>
  
  <!-- 根据id查询玩家rank分数，需求改动不再使用 -->
  <!-- <select id="findById"
  	parameterType="java.lang.Integer"
  	resultType="com.game.jhtc.entity.User">
  		select id, nick, score from suser_info
  			where id=#{id}
  </select> -->
  
  <!-- 玩家数据上报接口对应的添加方法SQL语句 -->
  <insert id="saveUser"
  	parameterType="com.game.jhtc.entity.User">
  	insert into suser_info (uid, nick, score, length)
  		values(#{uid}, #{nick}, #{score},#{length})	
  </insert>
  
 <!--  根据玩家id修改用户数据 -->
  <update id="update" parameterType="com.game.jhtc.entity.User">
  	update suser_info set
  		nick=#{nick} where
  		 id=#{id}
  </update>
  
</mapper>